.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 20%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}
div {
  text-align: center;
}
.person {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.greetings {
  font-size: 1rem;
  font-weight: bold;
}
.counterContainer {
  color: white;
  background-color: black;
  border-radius: 5px;
  width: 10%;
  padding: 10px;
  margin-left: 44%;
}
.counter {
  font-size: 3rem;
  font-weight: bold;
}
.btn-remove {
  background-color: red;
  border-color: black;
  color: white;
  height: 25px;
  font-size: 12px;
  border-radius: 5px;
}
.addPerson {
  width: 19.5%;
  height: 20px;
  border-color: grey;
  margin: 3px;
  border-width: 0.4px;
  border-radius: 3px;
}
.btn-addPerson {
  width: 10.5%;
  height: 26px;
  color: white;
  background-color: navy;
  border-radius: 5px;
}
.btn-counter {
  color: white;
  background-color: green;
  border: none;
  width: 50px;
  height: 22px;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
